# Module 7 Exercises - Linear Regression

In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn #library for predictive modeling

%matplotlib inline

### Exercise 1:

Using the pandas library, in the datasets folder load the gradedata.csv file as a dataframe. Narrow your data (make the dataframe smaller) by choosing columns that you think can help predict student grades. Use any method that you've learned so far to help your decision on which columns to keep.

In [24]:
Location = "datasets/gradedata.csv "
df = pd.read_csv(Location)

df.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

In [40]:
dupe = df.duplicated() #creates list of True/False values
df[dupe]

Empty DataFrame
Columns: [fname, lname, gender, age, exercise, hours, grade, address]
Index: []

In [27]:
new_df = df.drop(['fname', 'lname', 'address'], axis=1)
new_df.head()

   gender  age  exercise  hours  grade
0  female   17         3     10   82.4
1    male   18         4      4   78.2
2    male   18         5      9   79.3
3  female   14         2      7   83.2
4  female   18         4     15   87.4

In [28]:
new_df.keys()

Index(['gender', 'age', 'exercise', 'hours', 'grade'], dtype='object')

In [29]:
new_df.shape

(2000, 5)

In [34]:
print(new_df.hours)

0       10
1        4
2        9
3        7
4       15
5       16
6        9
7       18
8        9
9       15
10      13
11      10
12      12
13      15
14      14
15       8
16      10
17      19
18      13
19      11
20      11
21      15
22       9
23      18
24       6
25      10
26      18
27      16
28       9
29      13
        ..
1970    14
1971    16
1972    13
1973    10
1974     8
1975    11
1976     8
1977    18
1978    12
1979    17
1980    19
1981    15
1982     6
1983    14
1984     4
1985     6
1986    14
1987    11
1988    14
1989    14
1990     8
1991     7
1992     9
1993    10
1994     5
1995     8
1996    18
1997    14
1998     7
1999    10
Name: hours, Length: 2000, dtype: int64

In [35]:
print(new_df.age)

0       17
1       18
2       18
3       14
4       18
5       16
6       17
7       17
8       15
9       15
10      16
11      15
12      14
13      15
14      18
15      15
16      16
17      19
18      18
19      19
20      18
21      15
22      16
23      14
24      17
25      14
26      15
27      18
28      16
29      16
        ..
1970    19
1971    17
1972    17
1973    14
1974    16
1975    15
1976    16
1977    14
1978    17
1979    17
1980    17
1981    15
1982    18
1983    14
1984    15
1985    15
1986    19
1987    15
1988    15
1989    14
1990    17
1991    16
1992    14
1993    14
1994    17
1995    19
1996    16
1997    18
1998    16
1999    19
Name: age, Length: 2000, dtype: int64

### Exercise 2:

Using the dataframe in the exercise above, clean and prepare your data. This means to eliminate any null (missing) values (either by dropping or filling them) and to transform any data column types to numerical values that a model can interpret. For example, if the column has string values, convert them to integers that best represent their order.

In [43]:
new_df.dtypes

gender       object
age           int64
exercise      int64
hours         int64
grade       float64
dtype: object

In [44]:
new_df.isnull().sum()

gender      0
age         0
exercise    0
hours       0
grade       0
dtype: int64

### Exercise 3:

Using the cleaned dataframe in the exercise above, use the sklearn library to split the data into training and test datasets. Make the test size 30%.

In [47]:
#compare number of rooms to home price
plt.scatter(bos['RM'], bos['PRICE']) 
plt.xlabel("Average number of rooms per dwelling (RM)") 
plt.ylabel("Housing Price") 
plt.title("Relationship between RM and Price") 
plt.show()

NameError: name 'lm' is not defined

### Exercise 4:

Using the training data from the previous exercise, set a linear regression function to fit the data (build the model).

### Exercise 5:

What is the intercept coefficient (y-intercept) for the linear regression model?

### Exercise 6:

Use the predict function on the training data and the test data.

### Exercise 7:

Calculate the score of the training and test predictions. How "good" was the linear regression model at predicting the test data compared to the training data?